/*------ BASE -------*/
$pureblack:#000000;
$purewhite:#ffffff;
$bg-dark:#181818;

/*------ CATEGORIES -------*/
$wordpress : #00B2FF;
$sass:#FF52D9;
$html: $purewhite;
$react: #5552FF;
$mongo: #52FF6E;
$express: #828282;

/*------ TEXTES -------*/
$txt-dark-80:#BCBCBC;